{% extends 'base.html.twig' %}

{% block title %}Mon Blog Symfony | Liste des articles{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">La littérature nous fait rêver, nous permet de nous évader, nous emmènes ailleurs</h1>

    <div class="row">

      {% for data in articles %}

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ data.image }}" alt="">
            <div class="card-body">
              <h5 class="text-center">{{ data.title }}</h5>
              <p class="card-text">{{ data.content|slice(0,15)|raw}}...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{ path('blog_show', {'id': data.id }) }} " class="btn btn-dark">Voir Plus</a>
                </div>
                <small class="text-muted">Le {{data.createdAt|date("d/m/Y")}} à {{data.createdAt|date("H:i:s")}}</small>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
{% endblock %}